@model IEnumerable<FlyMvcApp.Identity.ApplicationUser>
@{
    ViewBag.Title = "Users";
}

<h2>  Kullanıcılar</h2>

<div class="panel panel-primary">

    
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" class="text-center">Kullanıcı Yok</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                </tr>
            }

        }
    </table>
</div>